.portofolio {
    background-color: #222222;
}

.portofolio>p {
    color: #f5f5f5;
    padding-top: 5rem;
    font-size: 32px;
    text-align: center;
    letter-spacing: 2px;
}

.portofolio .wrap {
    align-items: center;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 5rem;
    justify-content: center;
    align-items: center;
}

.portofolio .wrap .c {
    position: relative;
    height: 429px;
    width: 380px;
    overflow: hidden;
}

.portofolio .wrap .c img {
    width: 365px;
    height: 255px;
    object-fit: cover;
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.portofolio .wrap .c .text {
    text-align: center;
    color: wheat;
    letter-spacing: 2px;
}

.portofolio .wrap .c .text h3 {
    font-width: bold;
}

.portofolio .wrap .c .text .tech-p {
    margin: 0.8rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.portofolio .wrap .c .text .tech-p span {
    background-color: #1a1a1a;
    padding: 0.8rem;
    border-radius: 0.2rem;
}

.portofolio .wrap .c .text .deploy {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.portofolio .wrap .c .text .deploy a {
    background-color: #7f7f7f;
    padding: 0.5rem;
    border-radius: 0.2rem;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 5px;
}