.tech {
    background-color: #121212;
    height: 25rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.tech>p {
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
}

.tech .cards {
    display: flex;
    color: white;
    justify-content: center;
    gap: 8rem;
    flex-wrap: wrap;
}

.tech .cards .card {
    padding: 0.8rem 3rem;
    background-color: #373636;
    border-radius: 0.5rem;
    scale: 1.5;
    font-weight: bold;
}

.tech .cards .c1 {
    color: #FF5733;
}

.tech .cards .c2 {
    color: #2196F3;
}

.tech .cards .c3 {
    color: #F7DF1E;
}

.tech .cards .c4 {
    color: #4169E1;
}

.tech .cards .c5 {
    color: #FF7E00;
}

.tech .cards .c6 {
    color: #C5F74F;
}