.tech {
    background-color: #1a1a1a;
    height: 25rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.tech>p {
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
}

.tech .cards {
    display: flex;
    color: white;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.tech .cards .card {
    background-color: #333333;
    border-radius: 0.5rem;
    padding: 1.5rem 2.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;

}

.tech .cards .c1 {
    color: #979797;
}

.tech .cards .c2 {
    color: #4285f4;
}

.tech .cards .c3 {
    color: #F7DF1E;
}

.tech .cards .c4 {
    color: #00a4ef;
}

.tech .cards .c5 {
    color: #ff9900;
}

.tech .cards .c6 {
    color: #e50914;
}